*~
#*
*.bb
*.?bb
*.png
*.dep
*.bak
*.aux
*.bbl
*.dvi
*.log
*.elc
*.utf8
*.blg
*.out
__*
**/.svn/*
*.fdb_latexmk
*.fls
*.pdf
*.gz
*.zip
*.spl
*.toc
/GPATH
/GRTAGS
/GSYMS
/GTAGS
!img/static/**/*
img/static/**/*.bb
img/static/**/*.?bb
*.subm*
submission/
rebuttal/*.txt
_minted-*/
