*~
*.bb
*.?bb
*.png
*.dep
*.bak
*.aux
*.bbl
*.dvi
*.log
*.elc
*.utf8
*.blg
*.out
sources/*
__*
nohup.out
*/.svn/*
*.org.*
*.fdb_latexmk
*.fls
*.pdf
*.gz
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/asai.spl
/asai.toc
!tables/**/*.pdf
!img/static/**/
img/static/**/*.bb
img/static/**/*.?bb
/org-mode/
tables/.#*
*.subm*
/submission/
rebuttal/*.txt
/asai.zip
_minted-asai/
target
